* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
  z-index: 1;
}

.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.filter {
  width: 7rem;
  height: 4rem;
  background-image: url(https://picsum.photos/seed/picsum/200/300);
  background-size: 100% 100%;
  background-blend-mode: color-burn;
}
.brown {
  background-color: #ffa50052;
}
.orange {
  background-color: #a52a2a59;
}
.pink {
  background-color: #ffc0cb57;
}
.transparent {
  background-color: transparent;
}

.right-panel {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 1;
}

.action-btns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}

.image-btn {
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: relative;
}

.record-btn {
  background-color: red;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: relative;
}

.record-cont,
.image-cont {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  content: ".";
  border: 4px solid white;
  /* display: inline-block; */
  /* position: absolute; */
  /* top: -11px; */
  /* left: -12px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: white;
  font-size: 2rem;
}

.video-cont {
  height: 100vh;
  width: 100vw;
  margin: 20px;
}

video {
  height: 100%;
  width: 100%;
}

.gallery-cont {
  position: absolute;
  bottom: 10rem;
  right: 4rem;
}
.cursor-pointer {
  cursor: pointer;
}

.scale-capture {
  animation: scale-capture;
  animation-duration: 1s;
}

@keyframes scale-capture {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
  }
}

.scale-record {
  animation: scale-capture;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes scale-record {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
  }
}

.timer {
  display: none;
  width: 5rem;
}

.filter-layer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* background-blend-mode: color-burn; */
  /* z-index: 1; */
}
